body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c4d5e6;
    margin: 0%;

}

.card{
    display: flex;
    max-width: 800px;
    background-color: white;
    border-radius: 13px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);

     overflow: hidden; 
} 

.card img{
    width: 50%;
     object-fit: cover;
}  

.content{
padding: 25px;
position: relative;
width: 50%;
}

.content h2{
    margin: 0;
    color: rgb(76, 76, 84);
    font-size: 1.2rem;
    font-weight: bold;
}

.content p{
    font-size: 0.9rem;
    color: #6b7280;
}

 .profile{
     display: flex; 
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
} 

.profile img {
    border-radius: 55%;
     width: 60px;
     height: 60px;
    margin-right: 12px; 
}

.profile-info{
    font-size: 0.8rem;
}

 .profile-info p {
  margin: 0;
} 

.profile-info p.name{
    font-weight: bold;
 
}


.card {
    display: flex;
    max-width: 730px;
    background-color: white;
    border-radius: 13px;
    box-shadow: 0 5px 8px;
    overflow: hidden;
}

.content {
    padding: 25px;
    position: relative;
    width: 50%;
}

.profile {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-right: 130px;
    justify-content: space-between; /* Add this line */
}

.profile img {
    border-radius: 55%;
    width: 60px;
    height: 60px;
    margin-right: 12px;
}

.profile-info {
    font-size: 0.8rem;
}

.profile-info p {
    margin: 0;
}

.profile-info p.name {
    font-weight: bold;
}

.share-button {
    position: absolute;
    bottom: 35px;
    right: 20px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4b5562;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 14px 20px 15px;
   
}

.share-icon{
    color: #fff;
 
   
   
}


.share-popup {
   display: none; 
   position: absolute;
   bottom: 130px;
right:1px;

background-color: #4b5563;
color: white;
border-radius: 6px;
padding: 10px;
 display: flex; 

align-items: center;  
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.share-popup::before {
    content: '';
    position: absolute;
    bottom: -23px; /* Adjusted to align with the pop-up */
    left:80px;
    border-width: 12px;
    border-style: solid;
    border-color: #4b5563 transparent transparent transparent; /* Color of the arrow */
}






.share-popup span {
   margin-right: 15px; 
  

  
   padding: 2px 3px 3px ;
   color: rgb(208, 201, 201);
  
}

.share-popup a{
    margin-right: 10px;
}

.share-popup img {
   margin-right: 1px;
   width: 15px;
   height: 14px ;
border-radius: 1px;
}

.share-button.active .share-popup {
    display: flex;
}

.attribution{
    padding: 10px;
    margin: 11px;
}

